<div class="my-6 heading-card">
    <div>
        <div>
            <h1>About Me</h1>
        </div>
    </div>
</div>

<div class="grid grid-flow-row grid-cols-1 gap-1 lg:grid-cols-5 my-4 mx-2 md:mx-4 lg:mx-6 relative">
    <div class="p-2 bg-slate-50 ring-1 ring-slate-100 rounded-md col-span-2 h-fit">
        <div class="px-4 sm:px-0">
            <h3 class="text-base font-semibold leading-7 text-gray-900">Information</h3>
            <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Personal details.</p>
        </div>
        <div class="mt-2 border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
                <div class="px-2 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Full name</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">MATAICH Achraf</dd>
                </div>
                <div class="px-2 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Application for</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">R&D in Machine learning/Deep
                        learning</dd>
                </div>
                <div class="px-2 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Email address</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><a
                            class="italic font-semibold"
                            href="mailto:achraf.mataich@outlook.com?subject=You%20are%20Hired!">achraf.mataich@outlook.com</a>
                    </dd>
                </div>
                <div class="px-2 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">About</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">As a Moroccan software
                        engineering student in my final year, I possess a deep passion for the transformative power of
                        artificial intelligence. Driven by an insatiable curiosity and a commitment to innovation, I am
                        eager to contribute to the exciting advancements shaping the future of AI.</dd>
                </div>
                <div class="px-2 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Attachments</dt>
                    <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                        <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">

                            <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                                <div class="flex w-0 flex-1 items-center flex-wrap">
                                    <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20"
                                        fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    <div class="ml-4 flex flex-wrap flex-1 gap-2">
                                        <span class="font-medium break-all">cv-achraf-mataich-2023-FR.pdf</span>
                                        <span class="flex-shrink-0 text-gray-400">1.42mb</span>
                                    </div>
                                </div>
                                <div class="ml-4 flex-shrink-0">
                                    <a href="assets/docs/cv-achraf-mataich-2023-FR.pdf" download="cv-achraf-mataich-2023-FR.pdf" class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                                </div>
                            </li>

                            
                        </ul>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="col-span-3 p-1 md:p-2">
        <div class="px-4 sm:px-0">
            <h3 class="text-base font-semibold leading-7 text-gray-900">Experiences</h3>
        </div>
        <div class="relative col-span-12 px-4 space-y-6 sm:col-span-9">
            <div
                class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 before:absolute before:top-2 before:bottom-0 before:w-0.5 before:-left-3 before:dark:bg-gray-700">


                <div
                    class="flex flex-col relative before:absolute before:top-2 before:w-4 before:h-4 before:rounded-full before:left-[-35px] before:z-[1] before:dark:ring-indigo-400 before:ring-4">
                    <div class="flex flex-col bg-indigo-50 sticky top-1 w-full px-2 py-1 rounded-lg">
                        <h3 class="text-sm md:text-base lg:text-xl font-semibold tracking-tight">R&D Internship</h3>
                        <time class="text-xs lg:text-sm tracking-tight uppercase text-gray-500">From {{'2023-07-10' |
                            date}} to
                            {{'2023-10-10' | date}}</time>
                        <span class="text-xs lg:text-sm text-indigo-500">Centre Hospitalo Universitaire Hassan II -
                            Fès</span>
                    </div>
                    <div class="container mx-auto px-4 text-xs lg:text-base">
                        <h2 class="text-lg font-bold">Detecting ECG Anomalies with AI</h2>
                        <p class="text-justify my-2">
                            Driven by a passion for applying AI to solve real-world problems, I embarked on an R&D
                            internship focused on developing an AI model capable of detecting anomalies in
                            electrocardiograms (ECG). ECGs, which record the electrical activity of the heart, are
                            crucial diagnostic tools in cardiology. However, manually analyzing ECGs for abnormalities
                            can be time-consuming and prone to human error. My goal was to create an AI model that could
                            automate this process, improving the accuracy and efficiency of ECG analysis.
                        </p>

                        <p class="text-justify my-2">
                            To achieve this goal, I employed TensorFlow, a powerful open-source machine learning
                            library, and utilized Long Short-Term Memory (LSTM) networks, a type of recurrent neural
                            network (RNN) particularly well-suited for processing sequential data like ECGs. I trained
                            the LSTM model on a large dataset of ECG recordings, carefully labeled to indicate the
                            presence or absence of anomalies. The trained model demonstrated remarkable accuracy in
                            identifying anomalies, outperforming traditional manual analysis methods.
                        </p>

                        <p class="text-justify my-2">
                            This internship not only provided me with valuable hands-on experience in developing AI
                            models for healthcare applications but also fueled my passion for exploring the intersection
                            of AI and medicine. I am confident that AI has the potential to revolutionize healthcare,
                            and I am committed to contributing to this field by developing innovative AI solutions that
                            improve patient care.
                        </p>
                    </div>
                </div>


                <div
                    class="flex flex-col relative before:absolute before:top-2 before:w-4 before:h-4 before:rounded-full before:left-[-35px] before:z-[1] before:dark:ring-indigo-400 before:ring-4">
                    <div class="flex flex-col bg-indigo-50 sticky top-1 w-full px-2 py-1 rounded-lg">
                        <h3 class="text-sm md:text-base lg:text-xl font-semibold tracking-tight">R&D Internship</h3>
                        <time class="text-xs lg:text-sm tracking-tight uppercase text-gray-500">From {{'2022-06-15' |
                            date}} to
                            {{'2022-08-15' | date}}</time>
                        <span class="text-xs lg:text-sm text-indigo-500">Institu supérieur de l'ingénierie et des
                            affaires - Fès</span>
                    </div>
                    <div class="container mx-auto px-4 text-xs lg:text-base">
                        <h2 class="text-lg font-bold">Optimizing Football Lineups with KNN and Flask</h2>
                        <p class="text-justify my-2">
                            During this internship, I tackled the challenge of developing a football lineup
                            recommendation system to assist coaches in making informed decisions about player
                            positioning. Leveraging the power of the K-Nearest Neighbors (KNN) algorithm, a versatile
                            machine learning technique, I crafted a system that analyzes player attributes and
                            historical performance data to determine their most suitable positions on the field. This
                            system can help coaches identify the optimal lineup for each match, maximizing the team's
                            potential and achieving strategic advantages.
                        </p>

                        <p class="text-justify my-2">
                            In contrast to relying on external libraries, I meticulously coded the KNN algorithm from
                            scratch in native Python 3.9, gaining a deeper understanding of its inner workings and
                            enhancing my programming skills. This hands-on approach enabled me to tailor the algorithm
                            specifically to the requirements of the football recommendation system.
                        </p>

                        <p class="text-justify my-2">
                            To further enhance the system's accessibility and user-friendliness, I utilized the Flask
                            web framework to create a RESTful API. This API allows coaches to seamlessly interact with
                            the system, inputting player information and receiving tailored lineup recommendations. The
                            API also facilitates the integration of the system into existing coaching software and
                            tools.
                        </p>

                        <p class="text-justify my-2">
                            This internship provided me with an invaluable opportunity to apply my machine learning and
                            programming expertise to a real-world sports application. The experience reinforced my
                            belief in AI's transformative potential in enhancing sports performance and empowering
                            coaches to make data-driven decisions. I am committed to exploring further applications of
                            AI in the sports domain to optimize strategies and elevate athletic performance.
                        </p>
                    </div>
                </div>

                <div
                    class="flex flex-col relative before:absolute before:top-2 before:w-4 before:h-4 before:rounded-full before:left-[-35px] before:z-[1] before:dark:ring-indigo-400 before:ring-4">
                    <div class="flex flex-col bg-indigo-50 sticky top-1 w-full px-2 py-1 rounded-lg">
                        <h3 class="text-sm md:text-base lg:text-xl font-semibold tracking-tight">Technical Internship
                        </h3>
                        <time class="text-xs lg:text-sm tracking-tight uppercase text-gray-500">From {{'2020-04-01' |
                            date}} to
                            {{'2020-05-31' | date}}</time>
                        <span class="text-xs lg:text-sm text-indigo-500">Ecole supérieure de technologie - Meknès</span>
                    </div>
                    <div class="container mx-auto px-4 text-xs lg:text-base">
                        <h2 class="text-lg font-bold">COVID-19 Angular web app</h2>
                        <p class="text-justify my-2">
                            Throughout the unprecedented COVID-19 pandemic, I embarked on an internship that challenged
                            me to apply my technical expertise to address a critical public health issue. I was tasked
                            with developing a web application using Angular, a modern JavaScript framework, to provide
                            real-time statistics on COVID-19 cases in Morocco and assess an individual's risk of
                            contracting the virus based on their location and contact history. This project required me
                            to navigate the complexities of the pandemic while utilizing my programming skills to create
                            a user-friendly and informative tool.
                        </p>

                        <p class="text-justify my-2">
                            The web application I developed served as a valuable resource for public health officials
                            and citizens alike. It presented up-to-date information on the spread of COVID-19 across
                            Morocco's regions, empowering individuals to make informed decisions about their health and
                            safety. The personalized risk assessment feature enabled users to gauge their likelihood of
                            contracting the virus based on their location and contact history, promoting proactive
                            measures to curb the pandemic's spread.
                        </p>

                        <p class="text-justify my-2">
                            This internship experience not only honed my technical skills in Angular but also instilled
                            in me a deep appreciation for the power of technology to address real-world challenges. It
                            exemplified my adaptability, resilience, and commitment to using my skills to make a
                            positive impact during a time of crisis.
                        </p>

                    </div>
                </div>

                <div
                    class="flex flex-col relative before:absolute before:top-2 before:w-4 before:h-4 before:rounded-full before:left-[-35px] before:z-[1] before:dark:ring-indigo-400 before:ring-4">
                    <div class="flex flex-col bg-indigo-50 sticky top-1 w-full px-2 py-1 rounded-lg">
                        <h3 class="text-sm md:text-base lg:text-xl font-semibold tracking-tight">Initiation Internship
                        </h3>
                        <time class="text-xs lg:text-sm tracking-tight uppercase text-gray-500">From {{'2019-08-01' |
                            date}} to
                            {{'2019-08-31' | date}}</time>
                        <span class="text-xs lg:text-sm text-indigo-500">FEDASO - Fès</span>
                    </div>
                    <div class="container mx-auto px-4 text-xs lg:text-base">
                        <h2 class="text-lg font-bold">Embarking on the Journey of Professionalism: My Initiation
                            Internship at FEDASO</h2>
                        <p class="text-justify my-2">
                            As a fresh-faced student eager to explore the professional world, I embarked on an
                            initiation internship at FEDASO, a prominent organization based in Fez, Morocco. This
                            internship marked a pivotal step in my journey towards becoming a seasoned software
                            engineer. My time at FEDASO provided me with invaluable opportunities to observe, learn, and
                            contribute in a dynamic and supportive environment.
                        </p>

                        <p class="text-justify my-2">
                            Immersed in the day-to-day operations of FEDASO's IT department, I was entrusted with a
                            range of tasks that broadened my understanding of the software development process. These
                            tasks included:

                        </p>

                        <ul class="list-disc pl-4 my-2 marker:text-indigo-700">
                            <li>Assisting senior developers in testing and debugging software applications.</li>
                            <li>Documenting software requirements and specifications.</li>
                            <li>Understanding the network architecture and how to secure it.</li>
                        </ul>

                        <p class="text-justify my-2">
                            My initiation internship at FEDASO marked a transformative experience that propelled me into
                            the professional world. It instilled in me a deep appreciation for the collaborative nature
                            of software development, the importance of continuous learning, and the value of teamwork in
                            achieving shared goals. As I continue my journey in the field of software engineering, I
                            carry with me the lessons and experiences gained at FEDASO, forever grateful for the
                            opportunity to have been a part of such a supportive and inspiring organization.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>